DB_PASSWORD = U2aB6Dxjmwz2aAlU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxzYW9wbW14cmF2dXRxbGxpZWVqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzE3Mjg4MSwiZXhwIjoyMDkyNzQ4ODgxfQ.HBhGQzxgYXKZqEzegw_QRPtXwphnoHjT80Cj03KJGGA
SEED_ADMIN_EMAIL=admin@up.com
SEED_ADMIN_PASSWORD=123456
VITE_SUPABASE_URL=https://lsaopmmxravutqllieej.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxzYW9wbW14cmF2dXRxbGxpZWVqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxNzI4ODEsImV4cCI6MjA5Mjc0ODg4MX0.867HELkqmoFIIIC2cxafRl2ygM3868ypnt7tAz1Syks